[Unit]
Description=win-sandbox-runner binfmt handler
Documentation=https://github.com/Gaming-RF/APEX-WIN
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'echo ":Windows_PE:M:0:MZ::/usr/bin/win-sandbox-runner:PF" > /proc/sys/fs/binfmt_misc/register'
ExecStop=/bin/sh -c 'echo -1 > /proc/sys/fs/binfmt_misc/Windows_PE'

[Install]
WantedBy=multi-user.target
